<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>登入</h1>
    <!-- <img src="/images/building.png" alt=""> -->
    <form method="POST">
        <h4>awd</h4>
        <input name="login_id" type="text" required><br>

        <input type="submit" value="鞥入">
    </form>


    <!-- <form action="/login">
        <input name="signup" type="text" required><br>

        <input type="submit" value="註冊">
    </form> -->
    <!-- <form method="POST">
        <input name="type" type="text" value="login" hidden>
        <input name="login_id" type="text" required><br>
        <input name="password" type="password" required><br>
        <input type="submit" value="Login">
    </form>

    <hr>

    <h1>註冊</h1>
    <form method="POST">
        <input name="type" type="text" value="signup" hidden>
        <input name="login_id" type="text" required><br>
        <input name="password" type="password" required><br>
        <input type="submit" value="Sign Up">
    </form> -->
</body>
</html>