<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>已登入</title>
</head>
<body>
    <h3>{{ login_id }} 已登入</h3>
    <a href="/">
        <button>登出</button>
    </a>

    <hr>

    <form method="POST">
        <h4>新問題</h4>
        <input name="title" type="text" placeholder="問題標題" required><br>
        <textarea name="content" cols="30" rows="10" placeholder="問題描述" required></textarea><br>
        <input type="submit" value="發出問題">
    </form>

    <hr>
    <div style="display: flex;">
        {% for question in questions %}
            <div style="border: 1px solid gray">
                <div class="title" style="font-size: 28px; color: cornflowerblue;">{{ question.title }}</div>
                <div style="color: tomato;">{{ question.content }}</div>
                <span style="color: gray;">{{ question.writer }}<br>{{ question.create_at.strftime("%b %d, %p %I %m") }}</span>
            </div>
        {% endfor %}
    </div>
</body>
</html>